.create-folder-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-buttons{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
