
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#blue-button{
  background-color: #5C5CDF;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-weight: 700;
  border-radius: 20px;
}

#blue-button:disabled{
    background-color: #cccccc !important;
    color: #000 !important;
}

.title-text{
  margin: 0;
}

.subtitle-text{
  font-weight: normal;
  font-size: 18px;
}

.foldername-input{
  width: 350px !important;
  height: 60px;
}

#name{
  font-size: 20px;
  font-weight: lighter !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.icon-button{
  float: right;
  position: absolute;
  border-radius: 50%;
  z-index: 3423432;
  transition: all .2s ease-in-out;
}

.icon-button:hover  {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 330ms ease-in-out;
}
